html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    margin-top: -8px;
    padding: 0px;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
}

li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

div.header {
    color: #000000;
    text-align: center;
    position: relative;
    font-size: 30px;
    margin-bottom: 0px;
}

div.title {
    position: absolute;
    left: 50%;
    top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: translate(-50%, 0%);
}

div.footer {
    position: absolute;
    bottom: 0;
    background-color: #333333;
    width: 100%;
    height: 50px;
}

div.footer h1 {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    transform: translate(0%, 50%);
}

div.reviews {
    padding-bottom: 100px;
}

div.review {
    text-align: center;
    float: left;
    width: 33.33%;
    color: #000000;
}

div.info {
    margin-left: 20px;
    padding-bottom: 75px;
}

div.contact h1 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

div.container {
    min-height: 100%;
    position: relative;
}

div.start {
    padding-top: 25px;
    text-align: center;
    height: 50px;
}

div.start button {
    width: 100px;
    height: 50px;
    background-color: #0f3bf2;
    color: #ffffff;
    border: none;
}

div.start button:hover {
    background-color: #0f3bbb;
}

input.button {
    background-color: #0f3bf2;
    color: #ffffff;
    border: none;
}

input.button:hover {
    background-color: #0f3bbb;
}

div.login {
    clear: both;
    padding-top: 25px;
    text-align: center;
    height: 50px;
}

div.login button {
    width: 100px;
    height: 50px;
    background-color: #f0c70d;
    color: #ffffff;
    border: none

}

div.login button:hover {
    background-color:#f0c777;
}

div.chatbox {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 250px;
    z-index: 10;
}

div.chatbox-messages {
    position: absolute;
    z-index: 10;
    width: 250px;
    height: 210px;
    bottom: 30px;
    background-color: #e6f2ff;
}

div.chatbox-content {
    position: absolute;
    z-index: 10;
    height: 20px;
    width: 245px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    bottom: 0;
    background-color: #cce6ff;
}

div.chatbox-button button {
    position: absolute;
    outline: none;
    border: none;
    color: #ffffff;
    bottom: 240px;
    z-index: 11;
    background-color: #3399ff;
    width: 250px;
    height: 35px;
}

div.chatbox-content [type="text"] {
    width: 190px;
}

div.flights {
    padding-bottom: 50px;
    margin-top: -80px;
}

div.flight {
    width: 80%;
    height: 100px;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    position: relative;
    border: solid;
    display: inline-flex;
}

div.flight-first {
    padding-left: : 25px;
    order: 1;
    width: 5%;
}

div.flight-left {
    padding-left: : 25px;
    order: 1;
    width: 33%;
}

div.flight-mid {
    order: 2;
    width: 50%;
}

div.flight-right {
    order: 3;
    width: 10%;
}

div.flight:hover {
    background-color: #dddddd;
}

div.flight h1.airline {
    /*position: absolute;*/
    left: 3.5%;
    margin-top: 5px;
}

div.flight h3.path {
    /*position: absolute;*/
    text-align: left;

}

div.flight h4.depart {
    /*position: absolute;*/
    left: 18%;
    /*margin-top: 25px;*/
    margin-bottom: 10px;
}

div.flight h4.return {
    /*position: absolute;*/
    left: 18%;
    /*margin-top: 30px;*/
}

div.flight h3.price {
    /*position: absolute;*/
    right: 10%;
}

input[type="radio"] {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 0.75%;
}

div.flights [type="submit"] {
    position: relative;
    left: 90%;
    transform: translate(-93%, 0%);
    margin-bottom: 1%;
    width: 90px;
    height: 25px;
    border: none;
    color: #ffffff;
    background-color: #ff8b00
}

div.flights [type="submit"]:hover {
    background-color: #ff8b90;
}

div.travel-breakdown {
    position: relative;
    left: 10%;
}

div.travel-breakdown h3 {
    width: 182px;
    padding-top: 5px;
    border-top: 3px solid black;
}

.table {
    padding-bottom: 75px;
}

.table [type="submit"] {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90px;
    height: 25px;
    border: none;
    color: #ffffff;
    background-color: #ff8b00;
    z-index: 11;
}

.table [type="submit"]:hover {
    background-color: #ff8b90;
}

.attraction-table {
    width: 100%;
    border-spacing: 30px;
    table-layout: fixed;        
}

.attraction-cell {
    border: 3px solid black;
    width: 33%;
}

.attraction-cell:hover {
    background-color:#dddddd;
}

.attraction-cell h2, h3 {
    text-align: center;
}

.attraction-cell [type="checkbox"] {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 20px;
    margin-bottom: -50px;
}

@media only screen and (max-width:620px) {
    /* For mobile phones */
    li {
        width: 100%;
    }

    div.review {
        width: 100%;
    }

    .attraction-cell {
        display: inline-block;
        float: left;
        width: 90%;
        margin-bottom: 30px;
        margin-left: 4%;
        margin-right: 6%;
    }

    .attraction-table {
        border-spacing: 0px;
    }
}


.hotel-table {
    width: 100%;
    border-spacing: 30px;
    table-layout: fixed;        
}

.hotel-cell {
    border: 3px solid black;
    width: 33%;
}

.hotel-cell:hover {
    background-color:#dddddd;
}

.hotel-cell h2, h3 {
    text-align: center;
}

.hotel-cell [type="checkbox"] {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 20px;
    margin-bottom: -50px;
}

@media only screen and (max-width:620px) {
    /* For mobile phones */
    li {
        width: 100%;
    }

    div.review {
        width: 100%;
    }

    .hotel-cell {
        display: inline-block;
        float: left;
        width: 90%;
        margin-bottom: 30px;
        margin-left: 4%;
        margin-right: 6%;
    }

    .hotel-table {
        border-spacing: 0px;
    }
}

.calendar-day-container {
    border: 3px solid black;
    display: inline-flex;
    width: 95%;
}

.date-loc {
    order: 1;
    width: 17%;
    position: relative;
    left: 2%;
    text-align: left;
}

.activities {
    order: 2;
    width: 60%;
    margin-top: 30px;
}

.image {
    order: 3;
    width: 30%;
}

.image > img {
    height: 200px;
    width: 200px;
}